

.header{
	width: 800px;
	height: 1000px;
	background-image: url("Don't Open for the Love of God.jpeg");
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
	margin: auto;
}
a{
	text-decoration: none;
}
h1{
	font-size: 72px;
	color: 002868;
	text-align: center;
	position: relative;
	top: 214px;
}
center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.navbar{
	text-align: center;
	background-image: url("party.jpg");
	background-size: cover;
	border-style: solid;
	border-color: 002868;
	font-size: 100px;
}
.navbarheader{
	font-size: 50px;
	color: 002868;
}
.navbarlink{
	margin: 0px 50px 25px 50px;
}
